<a href="https://colab.research.google.com/github/gkondayya/ACP2021/blob/main/basic_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yfinance

In [12]:
import yfinance as yf
import pandas as pd
import datetime as dt

stocks = ["RELIANCE.NS","IRCTC.NS", "HDFCBANK.NS","INFY.NS","AMBER.NS", "BAJFINANCE.NS"]

start = dt.datetime.today()-dt.timedelta(3650)
end = dt.datetime.today()
start

datetime.datetime(2011, 12, 23, 9, 19, 1, 738857)

In [15]:
cl_price=pd.DataFrame()
for ticker in stocks:
  cl_price[ticker] = yf.download(ticker,start,end)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [24]:
cl_price.dropna(inplace=True)
cl_price.tail()

            RELIANCE.NS    IRCTC.NS  ...     AMBER.NS  BAJFINANCE.NS
Date                                 ...
2021-12-14  2380.149902  855.049988  ...  3231.300049    7065.899902
2021-12-15  2373.199951  851.200012  ...  3328.350098    6847.250000
2021-12-16  2403.899902  852.150024  ...  3432.000000    7028.850098
2021-12-17  2340.449951  832.400024  ...  3390.449951    6901.100098
2021-12-20  2270.350098  793.650024  ...  3253.949951    6610.000000

[5 rows x 6 columns]

In [23]:
cl_price.describe()

       RELIANCE.NS     IRCTC.NS  ...     AMBER.NS  BAJFINANCE.NS
count   544.000000   544.000000  ...   544.000000     544.000000
mean   1908.435481   370.174008  ...  2210.688705    4741.555787
std     393.444299   203.503592  ...   851.786183    1591.961666
min     869.675110   138.953918  ...   904.330688    1826.049316
25%    1527.348328   266.063286  ...  1419.969666    3445.582397
50%    1985.687195   285.854202  ...  2265.424927    4692.753174
75%    2156.300842   402.698723  ...  3022.712402    5771.761230
max    2731.850098  1175.540039  ...  3678.199951    7929.299805

[8 rows x 6 columns]

In [26]:
daily_return = cl_price.pct_change()
daily_return.tail()*100

            RELIANCE.NS  IRCTC.NS  ...  AMBER.NS  BAJFINANCE.NS
Date                               ...
2021-12-14    -1.224244 -0.425064  ... -0.098932      -2.117404
2021-12-15    -0.291996 -0.450263  ...  3.003437      -3.094438
2021-12-16     1.293610  0.111609  ...  3.114153       2.652161
2021-12-17    -2.639459 -2.317667  ... -1.210666      -1.817509
2021-12-20    -2.995144 -4.655214  ... -4.026014      -4.218169

[5 rows x 6 columns]

In [29]:
daily_return = cl_price/cl_price.shift(1)-1
daily_return.tail()*100

            RELIANCE.NS  IRCTC.NS  ...  AMBER.NS  BAJFINANCE.NS
Date                               ...
2021-12-14    -1.224244 -0.425064  ... -0.098932      -2.117404
2021-12-15    -0.291996 -0.450263  ...  3.003437      -3.094438
2021-12-16     1.293610  0.111609  ...  3.114153       2.652161
2021-12-17    -2.639459 -2.317667  ... -1.210666      -1.817509
2021-12-20    -2.995144 -4.655214  ... -4.026014      -4.218169

[5 rows x 6 columns]