<a href="https://colab.research.google.com/github/gkondayya/ACP2021/blob/main/Python_Options_Backtest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [10]:
a=np.array([[1,0,0],
            [0,1,0],
            [0,0,1]])
b=np.array([[2,1,1],
            [2,3,1],
            [3,2,1]])

In [11]:
c=np.matmul(a,b)
c

array([[2, 1, 1],
       [2, 3, 1],
       [3, 2, 1]])

In [ ]:
pip install backtrader

In [ ]:
pip install yfinance

In [ ]:
pip install nsepy

In [2]:
import pandas as pd

In [23]:
data = {"Stocks":["INFY","TCS","REL","AWL"],
        "Price":[1600,2500,3900,620]}
df = pd.DataFrame(data,columns=["Stocks","Price"])
df

  Stocks  Price
0   INFY   1600
1    TCS   2500
2    REL   3900
3    AWL    620

In [25]:
# Adding new column
df['Quantity'] =0
df

  Stocks  Price  Quantity
0   INFY   1600         0
1    TCS   2500         0
2    REL   3900         0
3    AWL    620         0

In [13]:
df.columns

Index(['Stocks', 'Price', 'Qunatity'], dtype='object')

In [15]:
# Selecting the last two values of Price
price_last2=df['Price'][-2:]
price_last2

2    3900
3     620
Name: Price, dtype: int64

In [17]:
df.Price.min()

620

In [18]:
df.Price.max()

3900

In [26]:
df.loc[0,'Quantity']=10      #this command will insert value ‘10’ in 1 st row of column ‘Quantity’
df.loc[1,'Quantity']=20
df.loc[2,'Quantity']=30
df.loc[3,'Quantity']=40
df

  Stocks  Price  Quantity
0   INFY   1600        10
1    TCS   2500        20
2    REL   3900        30
3    AWL    620        40

In [27]:
df['Amount']=df['Price']*df['Quantity']
df

  Stocks  Price  Quantity  Amount
0   INFY   1600        10   16000
1    TCS   2500        20   50000
2    REL   3900        30  117000
3    AWL    620        40   24800

In [29]:
df['CumSum']=df['Amount'].cumsum()
df

  Stocks  Price  Quantity  Amount  CumSum
0   INFY   1600        10   16000   16000
1    TCS   2500        20   50000   66000
2    REL   3900        30  117000  183000
3    AWL    620        40   24800  207800

In [30]:
df.drop(['CumSum'],axis=1,inplace=True)
df

  Stocks  Price  Quantity  Amount
0   INFY   1600        10   16000
1    TCS   2500        20   50000
2    REL   3900        30  117000
3    AWL    620        40   24800

In [31]:
# Functions using Data Frame 
def df_func(df):
  try:
    return(df['Price']*df['Quantity'])
  except:
    return np.NaN

df['Amount']=df.apply(df_func,axis=1)
df

  Stocks  Price  Quantity  Amount
0   INFY   1600        10   16000
1    TCS   2500        20   50000
2    REL   3900        30  117000
3    AWL    620        40   24800

In [32]:
for x in range(1,5):
  print(x)

1
2
3
4

In [33]:
for x in range(1,20,5):
  print(x)

1
6
11
16

In [35]:
# Lambda function
xyz=lambda x,y:x+y
xyz(1,1)

2

In [38]:
from nsepy import get_history
from datetime import datetime

sbi=get_history(symbol='SBIN',start=datetime(2022,5,1),end=datetime(2022,5,17))
sbi

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2022-05-02,SBIN,EQ,496.30,492.65,495.00,481.30,490.90,491.00,487.35,18590895,9.060263e+14,232328,8272742,0.4450
2022-05-04,SBIN,EQ,491.00,492.00,496.45,477.50,478.50,479.65,487.20,14645323,7.135246e+14,221907,4678363,0.3194
2022-05-05,SBIN,EQ,479.65,485.00,494.00,478.65,480.00,480.00,487.16,14130385,6.883760e+14,185153,4737190,0.3352
2022-05-06,SBIN,EQ,480.00,471.00,486.10,471.00,485.50,483.95,478.71,16710020,7.999171e+14,216166,5518027,0.3302
2022-05-09,SBIN,EQ,483.95,477.10,483.70,473.80,476.45,475.90,477.81,13544947,6.471855e+14,170758,5364082,0.3960
2022-05-10,SBIN,EQ,475.90,477.00,482.55,473.50,474.00,475.20,477.99,10884328,5.202612e+14,183663,3973819,0.3651
2022-05-11,SBIN,EQ,475.20,475.25,479.00,463.65,478.40,476.55,471.45,14771351,6.963938e+14,241751,4964332,0.3361
2022-05-12,SBIN,EQ,476.55,473.00,473.00,456.35,462.70,462.65,462.77,18947096,8.768076e+14,314035,6321015,0.3336
2022-05-13,SBIN,EQ,462.65,469.45,477.00,439.75,440.50,444.65,461.88,61403008,2.836053e+15,595336,21063112,0.3430
2022-05-16,SBIN,EQ,444.65,445.00,461.50,438.85,456.00,455.00,454.93,27940958,1.271105e+15,283950,8746208,0.3130
2022-05-17,SBIN,EQ,455.00,458.30,469.65,456.15,467.45,467.30,462.65,16880698,7.809801e+14,206674,6120436,0.3626